apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  labels:
    app: order-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order-service
          image: theodev33/order-service:latest
          ports:
            - containerPort: 4000

          env:
            - name: DATABASE_URL
              value: "file:./dev.db"
            - name: JWT_SECRET
              value: "change-me"
            - name: PORT
              value: "4000"

          # Vérifie si l’app répond
          livenessProbe:
            httpGet:
              path: /health
              port: 4000
            initialDelaySeconds: 5
            periodSeconds: 10

          # Vérifie si l’app est prête à recevoir du trafic
          readinessProbe:
            httpGet:
              path: /health
              port: 4000
            initialDelaySeconds: 2
            periodSeconds: 5