apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: theodev33/frontend:latest
          ports:
            - containerPort: 3000

          env:
            - name: AUTH_SERVICE_URL
              value: "http://auth-service:8000"
            - name: ORDER_SERVICE_URL
              value: "http://order-service:4000/orders"
            - name: STATIONS_SERVICE_URL
              value: "http://v3-bordeaux:4001/api/stations"
            - name: REVIEW_SERVICE_URL
              value: "http://v3-bordeaux:4001/api/reviews"